@import "mafs/core.css";
@import "mafs/core.css";
@import "mafs/font.css";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.title{
  font-size: 2em;
  font-weight: bold;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.sub{
  font-size: 1.2em;
  font-weight: semi-bold;
  color:beige;
}


.links {
  font-size: 0.4em; /* Adjust font size as needed */
  word-wrap: break-word; /* Allow long links to wrap onto the next line */
  line-height: 1.5; /* Add spacing between lines for better readability */
  color: white; /* Ensure the text is readable on a dark background */
  list-style-type: none; /* Removes bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.links li {
  margin-bottom: 5px; /* Adds space between links */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
